admin/__pycache__/
admin/src/__pycache__/
admin/src/core/board/__pycache__/
admin/src/web/__pycache__/
admin/src/web/controllers/__pycache__/
admin/src/web/helpers/__pycache__/
admin/src/core/__pycache__/
admin/src/core/pagos/__pycache__/
admin/src/core/socios/__pycache__/
admin/src/core/permisos/__pycache__/
admin/src/core/roles/__pycache__/
admin/uploads
admin/public/uploads/*
!Admin/public/uploads/default_photo.jpg
*.pyc
__pycache__/
admin/flask_session
portal/.tool-versions
